.Lessons {
  width: 100%;
  margin-top: 50px;
}

.lessons-div-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 600px;
  margin-top: 50px auto;
}

.lessons-div {
  display: inline-flex;
  max-width: 20%;
  min-width: 20%;
  max-height: 200px;
  /* min-height: 20%; */
  margin: 2rem;
  border: 1px solid black;
  position: relative;
  cursor: pointer;
}

.lessons-div img {
  max-width: 100%;
  max-height: 100%;
}

.lessons-caption {
  position: absolute;
  bottom: 0;
  height: 10%;
  background-color: rgba(255, 255, 255, 0.6);
  color: black;
  font-weight: 800;
  padding: 0.5rem 0 0.5rem 0;
  width: 100%;
}

.lessons-div-lesson {
  min-width: 20%;
  min-height: 150px;
  margin: 2rem;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.6);
  position: relative;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  max-width: 200px;
}

.lessons-div-lesson img {
  max-width: 20%;
  max-height: 20%;
}

.lessons-lesson-caption {
  justify-content: center;
  align-content: center;
  color: black;
  font-weight: 800;
}

/* #accordions {
  margin-top: 50px;
} */

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#titles {
  color: #940508;
}
