.BuildAgenda {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.headers {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.submit-header {
  margin-top: 20px;
}
.choose-lesson-header {
  margin-left: 50px;
  padding-left: 80px;
}

.build-agenda-headers-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 30px 50px 50px 50px;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.select-lesson-container {
  display: flex;
  flex-direction: column;
  /* width: 5; */
  margin-top: 10px;
  margin-right: 175px;
}

.left-form-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.create-input {
  width: 90%;
}

textarea {
  height: 90px;

  padding: 10px;
}

#date {
  padding: 10px;
}

.build-agenda-header-container {
  margin-bottom: 20px;
}

.choose-lesson-list {
  margin: 0 auto;
  width: 500px;
}

.lessons {
  margin: 0 auto;
}

/* Style the buttons that are used to open and close the accordion panel */
.accordion {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
  margin-bottom: 10px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active,
.accordion:hover {
  background-color: #ccc;
}

/* Style the accordion panel. Note: hidden by default */
.panel {
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: "\02795"; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#titles {
  color: #940508;
}
